.marginTop {
    margin-top: 20px;
}

.createSpace {
    height:5px;
}

.row {
    color:black;

}

.header-1 {
    font-size: large;
    font-family: verdana;
    text-align: center;
}

.header-2 {
    font-size: medium;
    font-family: verdana;
    text-align: center;
}

.btn-center {
    margin: auto;
    text-align: center;
}

.navbar {
    margin-left: 2%;
}

.category {
    padding: 0;
    border-radius: 8px;
    border: none;
    background: none;
    transition-duration: 0.4s;
}

.category:hover {
    background-color: lightgray;
}