.marginTop {
    margin-top: 20px;
}

.createSpace {
    height:5px;
}

.row {
    color:black;
    background-color: ;
}

.header-1 {
    font-size: large;
    font-family: verdana;
    text-align: center;
}

.header-2 {
    font-size: medium;
    font-family: verdana;
    text-align: center;
}

.btn-center {
    margin: auto;
    text-align: center;
}

.navbar {
    margin-left: 2%;
}