.marginTop {
    margin-top: 20px;
}

.createSpace {
    height:5px;
}

.row>* {
    color:black;
    padding-right: 0px;
}

.noLeftPadding {
    padding-left: 0px;
}

#card-smaller {
    --bs-card-spacer-y: 0.5rem;
}

#container {
    height: 100%;
    border-collapse: collapse;
}

.parent {
    height: 80%;
    /*border: 5px solid #000;*/
    display: flex;
    flex-direction: column;
}
.child {
    height: 30rem;
    width: 20%;
    /* background: #f00; */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.noMargin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.noPadding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.centered {
    text-align: center;
    margin: auto;

}
.header-1 {
    font-size: large;
    font-family: verdana;
    text-align: center;
}

.header-2 {
    font-size: medium;
    font-family: verdana;
    text-align: center;
}

.btn-center {
    margin: auto;
    text-align: center;
}

.navbar {
    margin-left: 2%;
}

.category {
    padding: 0;
    border-radius: 8px;
    border: none;
    background: none;
    transition-duration: 0.4s;
}

.category:hover {
    background-color: lightgray;
}

.category-active {
    background-color: lightgray;
}

.card-quiz {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.quiz-correct {
    color: darkgreen;
}

.quiz-wrong {
    color: darkred;
}


@media (max-width: 1100px)
{
    .btn-fit {
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
    }
}
