{% extends "layout.html" %}

{% block body %}
<div class="container-fluid marginTop">
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="table" name="table" placeholder="Table to add" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="category" name="category" placeholder="Category" type="text">
        </div>
        <div class="mb-3 btn-center">
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>
</div>
{% endblock %}