{% extends "layout.html" %}

{% block body %}

    <div class="container-fluid marginTop">
        <div class="row bg-light">
            <div class="col-sm-2 header-1">
                Topics
            </div>
            <div class="col-sm-8 header-1">
                Overview
            </div>
            <div class="col-sm-2 header-1">
                Word list
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-sm-2 header-1">
                    <div class="card card-block">
                        <a class="btn btn-secondary" href="#detail1" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="detail1">
                            English A1
                        </a>
                    </div>
                    <div class="col-sm-12 flex-md-last collapse" id="detail1">
                        <div class="card card-body">
                            <p>
                                Animals
                            </p>
                            <p>
                                Clothes
                            </p>
                            <p>
                                House
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 header-1">
                    <div class="card card-block">
                        <a class="btn btn-secondary" href="#detail2" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="detail2">
                            English A2
                        </a>
                    </div>
                    <div class="col-sm-12 flex-md-last collapse" id="detail2">
                        <div class="card card-body">
                            <p>
                                Arts
                            </p>
                            <p>
                                Food
                            </p>
                            <p>
                                Directions
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-sm-8 header-1">
            
            </div>
            <div class="col-sm-2 header-1">

            </div>
        </div>
    </div>
    <p>

{% endblock %}