{% extends "layout.html" %}

{% block body %}

    <div class="container-fluid marginTop">
        <div class="row bg-light">
            <div class="col-sm-2 header-1">
                Topics
                <div class="row centered noMargin">
                    {% for table in userTables %}
                    <div class="row">
                        <div class="col-sm-12 header-1">
                            <div class="card card-block centered">
                                <a class="btn btn-secondary" href="#table{{ table["main_table"] }}" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="table{{ table["main_table"] }}">
                                    {{ table["main_table"] }}
                                </a>
                            </div>
                            {% if currentTable == table["main_table"] %}
                            <div class="col-sm-12 flex-md-last collapse show" id="table{{ table["main_table"] }}">
                            {% else %}
                            <div class="col-sm-12 flex-md-last collapse" id="table{{ table["main_table"] }}">
                            {% endif %}
                                <div class="card card-body">
                                    {% for unit in categories %}
                                    {% if table["main_table"] in unit["main_table"] %}

                                    {% if currentCategory == unit["category"] %}
                                    <form action="/" method="post">
                                        <button name="request" class="category category-active" value="{{ unit["main_table"] }}-{{ unit["category"] }}">{{ unit["category"] }}</button>
                                    </form>
                                    {% else %}
                                    <form action="/" method="post">
                                        <button name="request" class="category" value="{{ unit["main_table"] }}-{{ unit["category"] }}">{{ unit["category"] }}</button>
                                    </form>
                                    {% endif %}

                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-8 header-1">
                Overview
            </div>
            <div class="col-sm-2 header-1">
                {% if currentCategory != "" %}
                {{ currentCategory }}:
                {% else %}
                Word list
                {% endif %}
                <div class="col-sm-8 header-1 centered">
                    {% for word in words %}
                    <p>{{ word["words"] }}</p>
                    {% endfor %}
                </div>
                {% if currentTable != NUN %}
                <form class="col-sm-8 centered" action="/addWordOverview" method="post">
                    <div class="mb-6">
                        <input autocomplete="off" class="form-control col-sm-6" id="wordAdd" name="wordAdd" placeholder="Word to add" type="text">
                        <input autocomplete="off" class="form-control col-sm-6" id="table" name="table" value="{{ currentTable }}" type="hidden">
                        <input autocomplete="off" class="form-control col-sm-6" id="category" name="category" value="{{ currentCategory }}" type="hidden">
                    </div>
                    <div class="mb-3 btn-center">
                        <button class="btn btn-success" type="submit">Add</button>
                    </div>
                    <div class="createSpace"></div>
                </form>
                <form class="col-sm-8 centered" action="/deleteWordOverview" method="post">
                    <div class="mb-6">
                        <input autocomplete="off" class="form-control col-sm-6" id="wordDel" name="wordDel" placeholder="Word to delete" type="text">
                        <input autocomplete="off" class="form-control col-sm-6" id="table" name="table" value="{{ currentTable }}" type="hidden">
                        <input autocomplete="off" class="form-control col-sm-6" id="category" name="category" value="{{ currentCategory }}" type="hidden">
                    </div>
                    <div class="mb-3 btn-center">
                        <button class="btn btn-warning" type="submit">Delete</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}