{% extends "layout.html" %}

{% block body %}
<div class="container-fluid marginTop">

    <div class="row bg-light">
        <div class="col-sm-6 header-1">
            Create
        </div>
        <div class="col-sm-6 header-1">
            Delete
        </div>
    </div>
    <div class="row bg-light">
        <div class="row">
            <div class="col-sm-6 header-1">
                <div class="card card-block">
                    <a class="btn btn-outline-secondary" href="#create1" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="create1">
                        Create new table
                    </a>
                </div>
                <div class="col-sm-12 flex-md-last collapse" id="create1">
                    <div class="card card-body">
                        <form action="/add" method="post">
                            <div class="mb-6">
                                <input autocomplete="off" class="form-control col-sm-6" id="table" name="table" placeholder="Table to add" type="text">
                            </div>
                            <div class="createSpace"></div>
                            <div class="mb-3 btn-center createSpace">
                                <button class="btn btn-success" type="submit">Add</button>
                            </div>
                            <div class="createSpace"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 header-1">
                <div class="card card-block">
                    <a class="btn btn-outline-secondary" href="#delete1" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="delete1">
                        Delete table
                    </a>
                </div>
                <div class="col-sm-12 flex-md-last collapse" id="delete1">
                    <div class="card card-body">
                        <form action="/delete" method="post">
                            <select class="form-control col-sm-6" name="table" id="table">
                                {% for table in userTables %}
                                <option value="{{ table["main_table"] }}">{{ table["main_table"] }}</option>
                                {% endfor %}
                            </select>
                            <div class="createSpace"></div>
                            <div class="mb-3 btn-center createSpace">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </div>
                            <div class="createSpace"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 header-1">
                <div class="card card-block">
                    <a class="btn btn-outline-secondary" href="#create2" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="create2">
                        Create new category in table
                    </a>
                </div>
                <div class="col-sm-12 flex-md-last collapse" id="create2">
                    <div class="card card-body">
                        <form action="/add" method="post">
                            <div class="createSpace"></div>
                            <select class="form-control col-sm-12" name="table" id="table">
                                {% for table in userTables %}
                                <option value="{{ table["main_table"] }}">{{ table["main_table"] }}</option>
                                {% endfor %}
                            </select>
                            <div class="createSpace"></div>
                            <div class="mb-6">
                                <input autocomplete="off" class="form-control col-sm-6" id="table" name="table" placeholder="Category to add" type="text">
                            </div>
                            <div class="createSpace"></div>
                            <div class="mb-3 btn-center">
                                <button class="btn btn-success" type="submit">Add</button>
                            </div>
                            <div class="createSpace"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 header-1">
                <div class="card card-block">
                    <a class="btn btn-outline-secondary" href="#delete2" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="delete2">
                        Delete category in table
                    </a>
                </div>
                <div class="col-sm-12 flex-md-last collapse" id="delete2">
                    {% for table in userTables %}
                    <div class="row header-2">
                        <div class="col-sm-3">

                        </div>
                        <div class="col-sm-6">
                            <div class="card card-block">
                                <a class="btn btn-outline-danger btn-sm" href="#table{{ table["main_table"] }}" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="table{{ table["main_table"] }}">
                                    {{ table["main_table"] }}
                                </a>
                            </div>
                            <div class="col-sm-12 flex-md-last collapse" id="table{{ table["main_table"] }}">
                                <form action="/delete" method="post">
                                    <div class="createSpace"></div>
                                    <select class="form-control col-sm-12" name="table" id="table">
                                        {% for unit in categories %}
                                        {% if table["main_table"] in unit["main_table"] %}
                                        <option value="{{ table["main_table"] }}">{{ unit["category"] }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="createSpace"></div>
                                    <div class="mb-3 btn-center">
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </div>
                                    <div class="createSpace"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>   
</div>
{% endblock %}